/*
  Référence des fonts :
  - Chakra Petch (Pour titres)
  - Titillium Web (Pour texte)
*/

@import url('https://fonts.googleapis.com/css2?family=Chakra+Petch&family=JetBrains+Mono&family=Titillium+Web&display=swap');


/* 
  Paramètre les couleurs du site en fonction des préférences de l'utilisateur.
*/
/* @media (prefers-color-scheme: light) {
  :root {
    --text: #160b09;
    --background: #f6ebe9;
  }
}
@media (prefers-color-scheme: dark) {
  :root {
    --text: #f6ebe9;
    --background: #160b09;
  }
} */

:root {
  --text: #f6ebe9;
  --background: #000000;
}

/* Style global pour textes */
.content {
  font-family: 'Titillium Web';
}

/* Style pour les liens (Inversion de couleurs) */
.content a {
  text-decoration: underline;
}

/* Base du document */
body {
  background-color: black;
  color: white;
}

/* Barre de navigation */
nav {
  font-family: 'JetBrains Mono';

  padding: 20px 0;

  display: flex;
  justify-content: space-around;
}

nav > * {
  margin: auto 0;
}

.nav-links {
  color: var(--background);
  display: flex;
}
.nav-links > * {
  margin: 0 10px;
}

@media screen and (max-width: 1000px) {
  nav {
    flex-direction: column;
  }
  nav > * {
    align-self: center;
  }
}

h1 {
  font-size: 3em;
}

h2 {
  font-size: 2.75em;
}

h3 {
  font-size: 2.5em;
}

h4 {
  font-size: 2.25em;
}

h5 {
  font-size: 2em;
}

h6 {
  font-size: 1.75em;
}

p {
  font-size: 1.5em;
  line-height: 115%;
}

ul, ol {
  margin-left: 20px;
}
ul {
  list-style: disc;
}

footer {
  padding: 20px;
  text-align: center;
}
footer a {
  color: white;
}
footer a:hover {
  text-decoration: underline;
  background-color: unset;
}

/* Classes utilitaires */

.blink {
  animation: blink 1.2s steps(1, end) infinite;
}

@keyframes blink {
  0%, 100% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
}

/* Définitions des couleurs */

.black {
  color: var(--text);
  background-color: var(--background);
}
.black a {
  color: var(--text);
}
.black a:hover {
  color: var(--background);
  background-color: var(--text);
}
.black samp {
  color: red;
  background-color: #535353;
}

.white {
  color: var(--background);
  background-color: var(--text);
}
.white a {
  color: var(--background);
}
.white a:hover {
  color: var(--text);
  background-color: var(--background);
}
.white samp {
  color: red;
  background-color: #cccccc;
}
