#helloWorldVideo {
  position: fixed;
  z-index: -1;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
}

.presentation {
  background-color: rgba(100, 100, 100, 0.2);
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 60px;
  height: 75vh;
}

.infos {
  background-color: white;
  color: black;
  padding: 80px 0;

  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.infos > * {
  text-align: center;
}

.info {
  display: flex;
  flex-direction: column;
  flex: 1 1 0;
  justify-content: center;

  padding: 10px;
  color: black;
}

.info > h2 {
  margin: 10px 0;
}

.info > .material-symbols-outlined {
  font-size: 3em;
}

@media screen and (max-width: 1000px) {
  #helloWorldVideo {
    right: -30%;
  }

  .infos {
    flex-direction: column;
  }

  .info {
    margin: 20px 0;
  }
}
