#helloWorldVideo {
  position: fixed;
  z-index: -1;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
}

.presentation {
  position: relative;
  background-color: rgba(70, 70, 70, 0.2);
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 60px;
  height: 75vh;
}

#telHint {
  font-size: 10px;
  position: absolute;
  bottom: 0;
  align-self: center;
}

.clean-space {
  padding: 60px;
}

.infos {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: flex-start;
}
.infos > * {
  text-align: center;
}

.info {
  display: flex;
  flex-direction: column;
  flex: 1 1 0;
  justify-content: center;

  margin: 10px;
}

.info > h2 {
  margin: 10px 0;
}

.info > i {
  font-size: 2.5em;
}

.tech > i {
  display: flex;
  justify-content: center;
  /* width: 50%; */
  font-size: 3em;
}

.tech-list {
  display: flex;
}

.tech {
  flex-basis: 100%;
  padding: 0 20px;
}
.tech > h3 {
  text-align: center;
  margin: 10px;
}

.ideology * {
  margin: 20px 0;
}

.image-container-with-text {
  margin: 0 auto;
  width: 25vw;
}
.image-container-with-text * {
  margin: 0;
}

.careers {
  padding: 40px;
}
.career-part {
  padding: 20px;
  border-radius: 25px;
  background-color: #352f59;

  border-left: 10px solid white;
  
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  margin: 20px 0;
}
.career-part h3 {
  flex: 1 1 0;
  margin: 20px;
  text-align: center;
  line-height: 60px;
}
.career-part p {
  flex: 2 2 0;
}

.empty {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.empty > p {
  font-style: italic;
}

@media screen and (max-width: 1000px) {
  #helloWorldVideo {
    right: -35%;
  }

  #telHint {
    visibility: hidden;
  }

  .clean-space {
    padding: 20px;
  }

  .infos {
    flex-direction: column;
    padding: 20px;
  }

  .info {
    margin: 40px 10px;
  }

  .tech-list {
    flex-direction: column;
  }

  .tech {
    margin: 20px 10px;
  }

  .image-container-with-text {
    margin: 0 auto;
    width: 75vw;
  }

  .career-part {
    flex-direction: column;
  }
}
