.fabricius-logo {
  padding: 50px;
}

.fabricius-logo > img {
  width: 100%;
  /* Align horizontally */
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  
}

.teleport {
  padding: 20px 0;
  text-align: center;
}
.teleport img {
  width: 30px;
}

.project {
  padding: 20px 200px;
}
.project > * {
  padding: 10px 0;
}

@media screen and (max-width: 1000px) {
  .fabricius-logo {
    padding: 0;
  }
  
  .project {
    padding: 40px 50px;
  }  
}
